---
interface Props {
  title: string
  summary: string
  previewBg?: string
}
import '../index'

const { title, summary, previewBg } = Astro.props
const previewClass = previewBg
  ? `flex items-center justify-center p-40 ${previewBg} rounded-lg`
  : 'flex items-center justify-center p-40 bg-black dark:bg-white rounded-lg'
---

<style>
  #foo {
    background-image: url('https://images.unsplash.com/photo-1537420327992-d6e192287183?q=80&w=2576&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
</style>
<div class="flex flex-col gap-8">
  <span>Docs / {title}</span>
  <h1 class="text-2xl font-semibold">{title}</h1>
  <p class="text-neutral-600 dark:text-neutral-400">{summary}</p>

  <!-- preview -->
  <h2 class="font-semibold">Preview</h2>
  <div id="foo" class={previewClass}><slot name="preview" /></div>

  <!-- usage -->
  <h1 class="text-2xl font-semibold">Usage</h1>
  <p class="text-neutral-600 dark:text-neutral-400">It’s a web component, so it will work in any library.</p>

  <!-- answer here -->
  <slot name="usage" />
</div>
