---
interface Props {
  title: string
  summary: string
  previewBg?: string
  hasVariations?: boolean
}

const { title, summary, previewBg, hasVariations = false } = Astro.props
const previewClass = previewBg
  ? `flex items-center justify-center p-40 ${previewBg} rounded-lg`
  : 'flex items-center justify-center p-40 bg-black dark:bg-white rounded-lg'
---

<style>
  #foo {
    background: #121212;
  }
</style>
<div class="flex flex-col gap-8">
  <!-- <span>Docs / {title}</span> -->
  <h1 class="text-4xl font-bold pt-12 text-neutral-900">{title}</h1>

  <p class="text-neutral-600 dark:text-neutral-400">{summary}</p>

  <!-- preview -->
  <h2 class="font-semibold">Preview</h2>
  <div id="foo" class={previewClass}><slot name="preview" /></div>

  {
    hasVariations && (
      <div>
        <h2 class="font-semibold mt-8 mb-4">Variations</h2>
        <div class="grid grid-cols-1 gap-4">
          <slot name="variations" />
        </div>
      </div>
    )
  }

  <!-- usage -->

  <!-- answer here -->
  <slot name="usage" />
</div>
